command/v1.0.0/commandSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:tns="http://schemas.strande.ai/command/v1.0.0"
           targetNamespace="http://schemas.strande.ai/command/v1.0.0"
           elementFormDefault="qualified"
           vc:minVersion="1.1">

  <!-- Root element -->
  <xs:element name="commands">
    <xs:complexType>
      <xs:sequence>
        <!-- PREFIX the type reference -->
        <xs:element name="command-group"
                    type="tns:CommandGroupElement"
                    minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CommandGroupElement">
    <xs:sequence>
      <!-- PREFIX the type reference -->
      <xs:element name="command"
                  type="tns:CommandElement"
                  minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="CommandElement">
    <!-- PREFIX the type reference -->
    <xs:attribute name="type" type="tns:CommandType" use="required"/>

    <!-- attributes (unchanged types for brevity) -->
    <xs:attribute name="condition" type="xs:string"/>
    <xs:attribute name="field" type="xs:string"/>
    <xs:attribute name="message" type="xs:string"/>
    <xs:attribute name="method" type="xs:string"/>
    <xs:attribute name="open" type="xs:string"/>
    <xs:attribute name="report" type="xs:string"/>
    <xs:attribute name="script" type="xs:string"/>
    <xs:attribute name="send" type="xs:string"/>
    <xs:attribute name="severity" type="xs:string"/>
    <xs:attribute name="test" type="xs:string"/>
    <xs:attribute name="title" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="view" type="xs:string"/>
    <xs:attribute name="falsecommand" type="xs:string"/>
    <xs:attribute name="falselabel" type="xs:string"/>
    <xs:attribute name="truelabel" type="xs:string"/>

    <!-- FIX the assert logic: use boolean directly (no exists(...or...)) -->
    <xs:assert test="
      if (@type='assistant') then (
        exists(@view) and
        not(@field or @message or @method or @open or @report or @script or @send or
            @severity or @test or @title or @value or @falsecommand or @falselabel or @truelabel)
      )
      else if (@type='mail') then (
        not(@field or @message or @method or @report or @script or @severity or @test or
            @title or @value or @view or @falsecommand or @falselabel or @truelabel)
      )
      else if (@type='method') then (
        exists(@method) and
        not(@field or @message or @open or @report or @script or @send or @severity or @test or
            @title or @value or @view or @falsecommand or @falselabel or @truelabel)
      )
      else if (@type='print') then (
        exists(@report) and
        not(@field or @message or @method or @open or @script or @send or @severity or @test or
            @title or @value or @view or @falsecommand or @falselabel or @truelabel)
      )
      else if (@type='prompt') then (
        exists(@title) and exists(@message) and exists(@truelabel) and exists(@falselabel) and
        not(@field or @method or @open or @report or @script or @send or @severity or @test or @value or @view)
      )
      else if (@type='redirect') then (
        (count(@value) + count(@script) + count(@method)) = 1 and
        not(@field or @message or @open or @report or @send or @severity or @test or
            @title or @view or @falsecommand or @falselabel or @truelabel)
      )
      else if (@type='save') then (
        not(@field or @message or @method or @open or @report or @script or @send or @severity or @test or
            @title or @value or @view or @falsecommand or @falselabel or @truelabel)
      )
      else if (@type='script') then (
        exists(@script) and
        not(@field or @message or @method or @open or @report or @send or @severity or @test or
            @title or @value or @view or @falsecommand or @falselabel or @truelabel)
      )
      else if (@type='suggestion') then (
        exists(@field) and exists(@message) and
        not(@method or @open or @report or @script or @send or @severity or @test or
            @title or @value or @view or @falsecommand or @falselabel or @truelabel)
      )
      else if (@type='update') then (
        exists(@field) and (count(@value) + count(@script) + count(@method)) = 1 and
        not(@message or @open or @report or @send or @severity or @test or
            @title or @view or @falsecommand or @falselabel or @truelabel)
      )
      else if (@type='validate') then (
        exists(@severity) and (count(@test) + count(@script) + count(@method)) = 1 and
        not(@field or @message or @open or @report or @send or @title or @value or
            @view or @falsecommand or @falselabel or @truelabel)
      )
      else true()
    "/>
  </xs:complexType>

  <xs:simpleType name="CommandType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="assistant"/>
      <xs:enumeration value="mail"/>
      <xs:enumeration value="method"/>
      <xs:enumeration value="print"/>
      <xs:enumeration value="prompt"/>
      <xs:enumeration value="redirect"/>
      <xs:enumeration value="save"/>
      <xs:enumeration value="script"/>
      <xs:enumeration value="suggestion"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="validate"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
